body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-color: #fff;
    height: 150vh;
}

header{
    border: 1px solid #000;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.links{
    display: flex;
    width: 46%;
    justify-content: space-around;
    align-items: center;

}

.links img{
    width: 40px;
    height: 30px;
}

.search{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.search button{
    margin-right: 10px;
}
.search input{
    background-color: #fff;
    border: 2px solid #abd3;
    border-radius: 5px;
    width: 350px;
    height: 25px;
}
#line{
    height: 35px;
    width: 2px;
    background-color: #d1d9e0;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #abb3;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 1000px;
    border-bottom: 5px solid #000000;
    gap: 30px;
    margin-top: 20px;

}

.box{
    width: 385px;
    height: 700px;
    border-radius: 10px;
    background: #575151;
}



main{
    flex:1;
}