body {
    min-height: 100vh;
    background-color: #f2f4f7;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
}


.logo {
    margin-left: -30px;
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

#logo-box {
    margin-top: 20px;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

#logo-text {
    margin-left: 40px;
    margin-top: -30px;
    width: 85%;
    height: 70%;
    font-size: 28px;
}

#photo {
    margin-top: -50px;
    margin-left: 10px;
    width: 55%;
    height: 200%;
}

#block {
    height: 550px;
    width: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#login-block {
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#subtext {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 35px;
    color: #1c1e21;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    padding-top: 0;
    text-align: center;

}

.inpt form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inpt input {
    width: 90%;
    padding: 15px;
    margin-top: 20px;
    margin-left: 5%;
    border: 1px solid #CCD0D5;
    box-sizing: border-box;
    border-radius: 6px;
}

.inbox-text {
    font-family: inherit;
    font-size: 17px;
}


#button {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #0866ff;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

#reset {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #0866ff;
    font-weight: 500;
}

#block a:hover {
    text-decoration: underline;
}

#line {
    border-top: 1px solid #CCD0D5;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

#button2 {
    background-color: #42b72a;
    font-family: inherit;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    border: none;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    height: 50px;
    border-radius: 6px;
}


#bottom {
    background-color: #fff;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#lang {
    display: flex; /* Делаем флексом, чтобы работал gap */
    flex-wrap: wrap; /* Чтобы языки переносились на новую строку, если их много */
    gap: 10px; /* Твой настраиваемый пробел между языками */
    width: 65%;
    margin: 0 auto 20px auto; /* Центрируем блок языков и даем отступ до линии */
    font-size: 12px;
    color: #8a8d91;
    padding-top: 20px;
}


#line-bottom {
    border-bottom: 1px solid #CCD0D5;
    width: 65%;
    margin: 0 auto;
}



